# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git_repository\算法与数据结构入门\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
